include deleteButton

mixin UserItem({user}) 
    .user 
        .user__info
            a(href=`/blog/user-details/${user.id}`)
            .user__header
                .user__author
                    img.author__avatar(src=user.user_avatar, alt="User Avatar")
                    .author__details
                        span=user.username
                        span=user.role
                if user.id !== userId
                    .user__service
                        +DeleteButton(user)
            .user__details
                each val, index in [["Created At", user.created_at.toUTCString()], ["Posts", user.posts.length], ["Comments", user.comments.length]]
                    .user__details-row
                        .user__details-header 
                            span=val[0]
                        .user__details-body= val[1]